{% extends 'includes/layout.twig' %}
{% set selected = 'admin_addrxn' %}
{% set mode = 'dark' %}
{% set title = 'Add Reaction' %}

{% block head %}


{% endblock %}

{% block main %}
    <form class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="mt-5">Add Reaction</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="rxnName" class="form-label">Reaction Name</label>
                <input type="text" class="form-control" id="rxnName" name="rxnName" placeholder="Reaction name">
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label for="rxnType" class="form-label">Reaction Type</label>
                <select class="form-select" id="rxnType" name="rxnType">
                    <option value="add">Addition</option>
                    <option value="sub">Substitution</option>
                    <option value="eli">Elimination</option>
                    <option value="hyd">Hydrolysis</option>
                    <option value="con">Condensation</option>
                    <option value="oxi">Oxidation</option>
                    <option value="red">Reduction</option>
                    <option value="rea">Rearrangement</option>
                </select>
                <div id="rsubType">
                    <label for="rxnSubType">
                        Reaction Sub type
                    </label>
                    <select class="form-select" id="rxnSubType" name="rxnSubType">
                        <option value="nu">Nucleophilic</option>
                        <option value="ep">Electrophilic</option>
                    </select>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="needsMechanism" name="rxnNeedsMech">
                    <label class="form-check-label" for="needsMechanism">
                        Needs mechanism
                    </label>
                </div>
            </div>
            <div class="col-sm">
                <label for="rxnReagents" class="form-label">Reaction Reagents</label>
                <select class="form-select" multiple id="rxnReagents" name="rxnReagents">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-sm">
                <label for="rxnConditions" class="form-label">Reaction Conditions</label>
                <select class="form-select" multiple id="rxnConditions" name="rxnConditions">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        $("#rxnType").change(function () {
            if (!["add", "sub"].includes($("#rxnType").val())) {
                $("#rsubType").hide();
            } else {
                $("#rsubType").show();
            }
        })
    </script>
    <script>
        $.ajax('/admin/addrxn', {
            method: 'POST'
        })
    </script>
{% endblock %}