{% extends 'includes/layout.twig' %}
{% set selected = 'organic_rxnlist' %}
{% set mode = 'dark' %}
{% set title = 'List' %}

{% block head %}

{% endblock %}

{% block main %}
    <h1>bruh</h1>
{% endblock %}