{% extends 'includes/layout.twig' %}
{% set selected = 'index' %}
{% set mode = 'dark' %}
{% set title = 'Home' %}

{% block head %}
    <link rel="stylesheet" href="/public/styles/index.min.css">
{% endblock %}

{% block main %}
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Welcome to {{ app_name }}</h1>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-auto text-center">
                <button id="browseButton" type="button" class="btn btn-primary">Browse content</button>
            </div>
            <div class="col-auto text-center">
                <button id="suggestButton" type="button" class="btn btn-secondary">Suggest content</button>
            </div>
        </div>
    </div>
    <script>
        $("#suggestButton").on("click",
            function(){
                window.open("/suggest")
            })
    </script>
{% endblock %}