@use 'colors';

.mode-dark {
  background-color: colors.$dark-bg-color ;
  main {
    background-color: colors.$dark-bg-color;
    color: colors.$light-bg-color;

  }
}

.mode-light {
  background-color: colors.$light-bg-color;
}